{% extends "form-base.html" %}

{% block nav-items %}
{% endblock %}

{% block header %}
  <a class="navbar-brand" href="{% url 'myequis:index-url' %}">My Equis</a>
{% endblock %}

{% block main %}

  <form method="post">

    {% csrf_token %}

    <div class="mb-3">
      <label for="username" class="form-label">Username</label>
      <input type="input" class="form-control" name="username" id="inputUsername" placeholder="Username" required >
    </div>

    <div class="mb-3">
      <label for="Password" class="form-label">Password</label>
      <input type="password" class="form-control" name="password" id="inputPass" placeholder="Password" required>
    </div>

    {% include "form-buttons-open.html" %}
      <input  {% include "form-button-class.html" %} type="submit" value="Login">
    {% include "form-buttons-close.html" %}

  </form>

{% endblock %}
