
body {
  background-color:  #ecf2f9;
  text-color: black;
}
a{
     text-decoration: none;
}
a:link{
    color: black;
}
a:visited{
    color: black;
}

.nav-button{
    backgroud-color: #fff;
    text-align: center;
    border: 1px solid;
    padding: 1em; 
    color: blue;
    width: 50px;
    display: block;

}

h2{ 
  color: #fff; 
  background-color:  #004d66;
  border-radius: .5em; 
  padding: .5em 1em

}
.h3-button-div{
    backgroud-color: #fff;
}

h2.a:link{
    color: white;
}
h2.a:visited{
    color: white;
}

h3 { 
  color: #fff; 
  background-color:  #004d66;
  border-radius: .5em; 
  padding: .3em 1em
}

table {
    width:100%;
}
th {
  border:1px solid;
  background-color: #b3d9ff;  
  overflow:hidden;
  vertical-align:top;
  padding: .4em;
}
td {
  border:1px solid;
  overflow:hidden;
  vertical-align:top;
  padding: .2em 1em;
}
.table-button{
    text-align: center;
    border: 1px solid;
    padding: 1em;
    margin: .1em;
    width: 90%;
    display: block;
}
