{% extends "base.html" %}

{% block nav-items %}
{% endblock %}


{% block main %}


{% url 'myequis:index-url' as back_url %}

{% include "nav-line.html" with title='New' back_url=back_url prev_url='' prev_status='disabled' next_url='Mounted' next_status='' %}

{% include "nav-open.html" %}

{% url 'myequis:create-material-url' as create_url %}
{% include "nav-item.html" with url=create_url title="Add" %}

{% include "nav-close.html" %}

<div >

  {% if new_materials %}
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Material</th>
          <th scope="col">Size</th>
          <th scope="col">Weight</th>
          <th scope="col" class="d-none d-md-block">Price</th>
        </tr>
      </thead>
      {% for material in new_materials %}
      <tr>
        <td onclick="tdClick('{% url 'myequis:material-detail-url' material.id %}');">
          {{ material.name }} /
          {{ material.manufacture }}
          <div class="text-muted">
            {{ material.comment }}
          </div>
        </td>
        <td>{{ material.size }}</td>
        <td>{{ material.weight }}</td>
        <td   class="d-none d-md-block">{{ material.price }}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
  {% else %}
  <p>Currently no new materials created.</p>
  {% endif %}

  {% include "nav-line.html" with title='Mounted' back_url=back_url prev_url='New' prev_status='' next_url='Dismounted' next_status='' %}


  {% if mounted_materials %}
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Date</th>
          <th scope="col">Material</th>
          <th scope="col">Size</th>
          <th scope="col">Weight</th>
          <th scope="col" class="d-none d-md-block">Price</th>
        </tr>
      </thead>
      {% for material in mounted_materials %}
      <tr>
        <td onclick="tdClick('{% url 'myequis:material-detail-url' material.id %}');">
          {{ material.mountedAt }}</td>
          <td onclick="tdClick('{% url 'myequis:material-detail-url' material.id %}');">
            {{ material.name }} /
            {{ material.manufacture }}
            <div class="text-muted">
              {{ material.comment }}
            </div>
            <div class="text-muted">
              {{ material.mountingComment }}
            </div>
          </td>
          <td>{{ material.size }}</td>
          <td>{{ material.weight }}</td>
          <td class="d-none d-md-block">{{ material.price }}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
    {% else %}
    <p>Currently no materials mounted.</p>
    {% endif %}


    {% include "nav-line.html" with title='Dismounted' back_url=back_url prev_url='Mounted' prev_status='' next_url='' next_status='disabled' %}

    {% if dismounted_materials %}
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Date</th>
            <th scope="col">Material</th>
            <th scope="col">Size</th>
            <th scope="col">Weight</th>
            <th scope="col" class="d-none d-md-block">Price</th>
          </tr>
        </thead>
        {% for material in dismounted_materials %}
        <tr>
          <td onclick="tdClick('{% url 'myequis:material-detail-url' material.id %}');">
            {{ material.dismountedAt }}</td>
            <td onclick="tdClick('{% url 'myequis:material-detail-url' material.id %}');">
              {{ material.name }} /
              {{ material.manufacture }}
              <div class="text-muted">
                {{ material.comment }}
              </div>
              <div class="text-muted">
                {{ material.dismountingComment }}
              </div>
            </td>
            <td>{{ material.size }}</td>
            <td>{{ material.weight }}</td>
            <td class="d-none d-md-block">{{ material.price }}</td>
          </tr>
          {% endfor %}
        </table>
      </div>
      {% else %}
      <p>Currently no materials dismounted.</p>
      {% endif %}



    </div>

    {% endblock %}
