<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
{% load static %}
{% load humanize %}
{% load bootstrap4 %}       {# import bootstrap4/bootstrap3 #}
{% bootstrap_css %}         {# Embed Bootstrap CSS #}
{% bootstrap_javascript jquery='full' %}  {# Embed Bootstrap JS+jQuery #}

<title>Bicycle</title>
</head>
<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'myequis:index-url' %}">My Equis</a>

  </nav>

<h2>{{ bicycle.name }}</h2>

<h3>Last Records</h3>

<ul class="nav justify-content-end">
  <li class="nav-item">
    <a class="nav-link active" href="{% url 'myequis:list-records-url' bicycle.id %}">Manage</a>
  </li>
</ul>

<div>
{% if records %}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Value</th>
            </tr>
        </thead>
        {% for record in records %}
            <tr>
                <td>{{ record.date }}</td>
                <td>{{ record.km }}</td>
            </tr>
        {% endfor %}
    </table>
{% else %}
    <p>No records yet</p>
{% endif %}
</div>

<h3>Components in Usage</h3>

<ul class="nav justify-content-end">
  <li class="nav-item">
    <a class="nav-link active" href="{% url 'myequis:list-bicycle-history-url' bicycle.id %}">History</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="{% url 'myequis:list-bicycle-parts-url' bicycle.id %}">Manage</a>
  </li>
</ul>

<div>
{% if componentDataList %}
    {% for componentData in componentDataList %}
        {% if componentData.has_materials %}
            <h4>{{ componentData.component_name }}</h4>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Part</th>
                        <th scope="col">Material</th>
                        <th scope="col">Mounted at</th>
                        <th scope="col">KM</th>
                    </tr>
                </thead>
                {% for part in componentData.parts %}
                    {% if part.material %}
                        <tr>
                            <td>{{ part.part.name }}</td>
                            <td>{{ part.material.name }}</td>
                            <td>{{ part.mounting.mount_record.date }}</td>
                            <td>{{ part.distance }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </table>
        {% endif %}
    {% endfor%}
{% else %}
    <p>No components with parts with mounted materials yet</p>
{% endif %}
</div>
</body>
</html>
