{% extends "base.html" %}

{% block main %}

{% include "page-title.html" with title=bicycle.name %}

{% include "article-title.html" with title="Last Records" %}

{% include "nav-open.html" %}

{% url 'myequis:index-url' as nav_url %}
{% include "nav-item.html" with url=nav_url title="Back" %}

{% url 'myequis:list-records-url' bicycle.id as nav_url %}
{% include "nav-item.html" with url=nav_url title="Manage" %}
{% include "nav-close.html" %}


<div>
  {% if records %}
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Value</th>
      </tr>
    </thead>
    {% for record in records %}
    <tr>
      <td>{{ record.date }}</td>
      <td>{{ record.km }}</td>
    </tr>
    {% endfor %}
  </table>
  {% else %}
  <p>No records yet</p>
  {% endif %}
</div>

{% include "article-title.html" with title="Components in Usage" %}


{% include "nav-open.html" %}

{% url 'myequis:list-bicycle-timeline-url' bicycle.id  as nav_url %}
{% include "nav-item.html" with url=nav_url title="Timeline" %}

{% url 'myequis:list-bicycle-history-url' bicycle.id  as nav_url %}
{% include "nav-item.html" with url=nav_url title="History" %}

{% url 'myequis:list-bicycle-parts-url' bicycle.id  as nav_url %}
{% include "nav-item.html" with url=nav_url title="Manage" %}

{% include "nav-close.html" %}

<div>
  {% if data_list %}
  {% for data in data_list %}
  {% if data.has_materials %}

  {% url 'myequis:index-url' as back_url %}
  {% if not data.prev %}
  {% firstof "disabled" as prev_status  %}
  {% else %}
  {% firstof "" as prev_status  %}
  {% endif %}

  {% if not data.next %}
  {% firstof "disabled" as next_status  %}
  {% else %}
  {% firstof "" as next_status  %}
  {% endif %}

  {% include "section-nav-line.html" with title=data.component_name back_url=data.back prev_url=data.prev prev_status=prev_status next_url=data.next next_status=next_status %}


  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Part</th>
          <th scope="col">Material</th>
          <th scope="col" class="d-none d-md-block">Mounted at</th>
          <th scope="col">KM</th>
        </tr>
      </thead>
      {% for part in data.parts %}
      {% if part.material %}
      <tr>
        <td>{{ part.part.name }}</td>
        <td  onclick="tdClick('{% url 'myequis:material-detail-url' part.material.id %}');">
          <span class="">
          {{ part.material.type }} &#903;
          </span>
          <span class="text-uppercase">
          {{ part.material.manufacture }} &#903;
          </span>
          <span class="">
          {{ part.material.name }}
          </span>
          <div class="text-muted">
            {{ part.material.comment }}
          </div>
        </td>
        <td class="d-none d-md-block">{{ part.mounting.mount_record.date }}</td>
        <td>{{ part.distance }}</td>
      </tr>
      {% endif %}
      {% endfor %}
    </table>
  </div>
  {% endif %}
  {% endfor%}
  {% else %}
  <p>No components with parts with mounted materials yet</p>
  {% endif %}
</div>

{% endblock %}
