{% load static %}

<script language="JavaScript">
    function tdClick(url){
        window.open(url, "_self");
    }
</script>

<link rel="stylesheet" type="text/css" href="{% static 'myequis/style.css' %}">

<h2>{{ bicycle.name }} | Parts</h2>

<div class="clearfix">
    <div class="button-line-flex-container">
        <a class="nav-button" href="{% url 'myequis:index-url' %}">Home</a>
        <a class="nav-button"  href="{% url 'myequis:bicycle-detail-url' bicycle.id %}">Back</a>
    </div>
</div>

{% if message %}
    <div class="message-line">
        <strong>{{ message|escape }}</strong>
    </div>
{% endif %}

<div>
{% if componentDataList %}
    {% for componentData in componentDataList %}
            <h4>{{ componentData.component_name }}</h4>
            <table>
                <thead>
                    <tr>
                        <th>Part</th>
                        <th>Material</th>
                        <th>Mounted at</th>
                        <th>KM</th>
                    </tr>
                </thead>
                {% for part in componentData.parts %}
                        <tr>
                            {% if part.material %}
                                <td class="td-button-cell" onclick="tdClick('{% url 'myequis:edit-part-url' bicycle.id part.part.id %}');">
                                        {{ part.part.name }}
                                </td>
                            {% else %}
                                <td class="td-button-cell" onclick="tdClick('{% url 'myequis:mount-part-url' bicycle.id part.part.id %}');">
                                        {{ part.part.name }}
                                </td>
                            {% endif %}
                            <td>{{ part.material.name }}</td>
                            <td>{{ part.material.mount_record.date }}</td>
                            <td>{{ part.distance }}</td>
                        </tr>
                {% endfor %}
            </table>
    {% endfor%}
{% else %}
    <p>No components yet</p>
{% endif %}
</div>

