{% extends "base.html" %}

{% block nav-items %}
{% endblock %}


{% block main %}

{% include "page-title.html" with title=bicycle.name %}

{% include "article-title.html" with title="Parts"  %}

{% include "nav-open.html" %}

{% url 'myequis:bicycle-detail-url' bicycle.id as nav_url %}
{% include "nav-item.html" with url=nav_url title="Back" %}

{% include "nav-close.html" %}

<div>
  {% if componentDataList %}
  {% for componentData in componentDataList %}
  <h4>{{ componentData.component_name }}</h4>
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Part</th>
          <th scope="col">Material</th>
          <th scope="col">Mounted at</th>
          <th scope="col">KM</th>
        </tr>
      </thead>
      {% for part in componentData.parts %}
      {% if part.material %}
      <tr onclick="tdClick('{% url 'myequis:exchange-material-url' bicycle.id part.part.id %}');">
        {% else %}
        <tr onclick="tdClick('{% url 'myequis:mount-material-url' bicycle.id part.part.id %}');">
          {% endif %}

          <td>{{ part.part.name }}</td>
          <td>{{ part.material.name }}</td>
          <td>{{ part.mounting.mount_record.date }}</td>
          <td>{{ part.distance }}</td>
        </tr>
        {% endfor %}
      </table>
      {% endfor%}
      {% else %}
      <p>No components yet</p>
      {% endif %}
    </div>
  </div>

  {% endblock %}
