{% extends "base.html" %}

{% block nav-items %}
{% endblock %}


{% block main %}

{% with var=bicycle.name|add:" Mounting Historty"  %}
{% include "page-title.html" with title=var  %}
{% endwith %}

{% include "nav-open.html" %}
{% include "nav-back-item.html" %}
{% include "nav-close.html" %}

{% if componentDataList %}
{% for componentData in componentDataList %}

{% include "article-title.html" with title=componentData.name %}

{% for partData in componentData.part_data_list %}

{% if partData.has_mounting %}

{% include "section-title.html" with title=partData.part.name %}

{% for mountingData in partData.mounting_data_list %}
<div class="card m-1">
  <div class="card-body">
    <div class="card-title">
      <div class="d-flex justify-content-between">
        <span>
          <div class="text-uppercase">
            {{ mountingData.mounting.material.manufacture }}
          </div>
          <h5>
            <div class="font-weight-bold">
              <span>
                {{ mountingData.mounting.material.name }}
              </span>
            </div>
          </h5>
        </span>
        <span>
          <h5>
            {{ mountingData.distance }} km
          </h5>
        </span>
      </div>
    </div>
    <h6 class="card-subtitle mb-2">

      <div class="d-flex justify-content-between">
        <span>
          {{ mountingData.mounting.mount_record.date }} -
          {{ mountingData.mounting.dismount_record.date }}
        </span>
        <span>
          {{ mountingData.delta }}
        </span>
      </div>


    </h6>

    <div class="card-text text-muted">
      <div>
        {{ mountingData.mounting.material.comment }}
      </div>
      <div>
        {{ mountingData.mounting.comment }}
      </div>
    </div>
  </div>
</div>
{% endfor %}
{% else %}
{% endif %}
{% endfor %}
{% endfor%}

{% else %}
<p>No components with parts with mounted materials yet</p>
{% endif %}


{% endblock %}
