{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'myequis/style.css' %}">

<h3 class="myequi-h3">{{ bicycle.name }} | {{ part.name }} | Delete Mounting</h3>

<div class="clearfix">
    <div class="button-line-flex-container">
        <a class="nav-button-disabled">Delete</a>
        <a class="nav-button"  href="{% url 'myequis:exchange-material-url' bicycle.id part.id %}">Exchange</a>
        <a class="nav-button"  href="{% url 'myequis:dismount-material-url' bicycle.id part.id %}">Dismount</a>
    </div>
</div>

<h4></h4>

{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}

<div>
<form class="part-form" action="" method="post">
    {% csrf_token %}

    <h5>Material</h5>
    <table>
        <thead>
            <tr>
                <th>Material</th>
                <th>Manufacturer</th>
                <th>Size</th>
                <th>Price</th>
            </tr>
        </thead>
        <tr>
            <td  id="material-id-{{ actual_mounting.material.id }}" >
                <span>Material</span>{{ mounting.material.name }}
            </td>
            <td><span>Manufacture</span>{{ mounting.material.manufacture }}</td>
            <td><span>Size</span>{{ mounting.material.size}}</td>
            <td><span>Price</span>{{ mounting.material.price }}</td>
        </tr>
    </table>

    <h5>Mount Record</h5>
    <table>
        <thead>
            <tr>
                <th>Date</th>
                <th>KM</th>
            </tr>
        </thead>
        <tr>
            <td><span>Date</span>{{ mounting.mount_record.date }}</td>
            <td><span>KM</span>{{ mounting.mount_record.km }}</td>
        </tr>
    </table>
    {{ form.bicycle_id }}
    {{ form.mounting_id }}


    <div class="form-button-bar">
        <input class="form-button" type="submit" name="delete" value="Delete" onclick="return confirm('Delete dataset?')">
        <input class="form-button" type="submit" name="cancel" value="Cancel">
    </div>
</form>
</div>
