{% extends "form-base.html" %}

{% block main %}

{% with bicycle.name|add:" | "|add:part.name|add:" |  Edit Mounting " as title %}
{% include "article-title.html" with title=title %}
{% endwith %}

<ul class="nav nav-tabs nav-fill">
  <li class="nav-item">
    <a class="nav-link active disabled" href="#">Delete</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'myequis:exchange-material-url' bicycle.id part.id %}">Exchange</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'myequis:dismount-material-url' bicycle.id part.id %}">Dismount</a>
  </li>
</ul>

{% if mounting.comment %}
<div>Comment: {{ mounting.comment }}</div>
{% endif %}

<form action="" method="post">
  {% csrf_token %}

  {% include "section-title.html" with title="Materials" %}

  <div class="table-responsive">
    <table id="material-table" class="table">
      <thead>
        <tr>
          <th>Material</th>
          <th>Size</th>
          <th>Price</th>
        </tr>
      </thead>
      <tr>
        <td >
          {{ mounting.material.name }} /
          {{ mounting.material.manufacture }}
          <div class="text-muted">
            {{ mounting.material.comment }}
          </div>
        </td>

        <td>{{ mounting.material.size }}</td>
        <td>{{ mounting.material.price }}</td>
      </tr>
    </table>
  </div>

  {% include "section-title.html" with title="Record" %}

  <div class="table-responsive">
    <table id="record-table" class="table">
      <thead>
        <tr>
          <th>Date</th>
          <th>Value<br>[km]</th>
        </tr>
      </thead>
      <tr>
        <td>{{ mounting.mount_record.date }}</td>
        <td>{{ mounting.mount_record.km }}</td>
      </tr>
    </table>
  </div>

  {{ form.bicycle_id }}
  {{ form.mounting_id }}

  {% include "form-buttons-open.html" %}
  <input  {% include "form-button-class.html" %} type="submit" name="delete" value="Delete" onclick="return confirm('Delete dataset?')">
  <input  {% include "form-button-class.html" %} type="submit" name="cancel" value="Cancel">
  {% include "form-buttons-close.html" %}
</form>
{% endblock %}
