{% extends "form-base.html" %}

{% block script %}
<script language="JavaScript">
  function tdClick(record_id, duration, distance){

    document.getElementById("id_selected_record").value = record_id;

    var elements = document.getElementsByClassName("table-primary")
    if(elements.length > 0) {
      elements[0].className = "";
    }

    element = document.getElementById("record-id-" + record_id)
    element.className = "table-primary";

    document.getElementById("summary").innerHTML = "Used for " + duration + " days and " + distance + " km"

  }
</script>
{% endblock %}

{% block main %}

{% with bicycle.name|add:" | "|add:part.name|add:" |  Edit Mounting" as title %}
{% include "article-title.html" with title=title %}
{% endwith %}


<ul class="nav nav-tabs nav-fill">
  <li class="nav-item">
    <a class="nav-link" href="{% url 'myequis:delete-mounting-url' bicycle.id part.id %}">Delete</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'myequis:exchange-material-url' bicycle.id part.id %}">Exchange</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active disabled" href="#">Dismount</a>
  </li>
</ul>

<div class="table-responsive">
  <table id="material-table" class="table">
    <thead>
      <tr>
        <th>Material</th>
        <th>Size</th>
        <th>Price</th>
      </tr>
    </thead>
    <tr>
      <td >
        {{ mounting.material.name }} /
        {{ mounting.material.manufacture }}
        <div class="text-muted">
          {{ mounting.material.comment }}
        </div>
      </td>
      <td>{{ mounting.material.size }}</td>
      <td>{{ mounting.material.price }}</td>
    </tr>
  </table>

  <div>Mounted at {{ mounting.mount_record.date }}, {{ mounting.mount_record.km }} km</div>

  {% if mounting.comment %}
  <div>Comment: {{ mounting.comment }}</div>
  {% endif %}

  <div id="summary">Choose the dismounting record below</div>

  <form class="part-form" action="" method="post">
    {% csrf_token %}

    {% include "section-title.html" with title=form.selected_record.label %}

    <div class="table-responsive">
      <table id="material-table" class="table table-hover">
        <thead>
          <tr>
            <th>Date</th>
            <th>Value<br>[km]</th>
            <th>Duration<br>[d]</th>
            <th>Distance<br>[km]</th>
          </tr>
        </thead>
        {% for record in records %}
        <tr>
          <td  id="record-id-{{ record.id }}" class="td-radiobutton-cell"
          onclick="tdClick('{{ record.id }}', '{{ record.duration }}', '{{ record.distance }}');">
          {{ record.date }}
        </td>
        <td>{{ record.km }}</td>
        <td>{{ record.duration }}</td>
        <td>{{ record.distance }}</td>
      </tr>
      {% endfor %}
    </table>
  </div>

  {{ form.selected_record }}
  {{ form.bicycle_id }}
  {{ form.mounting_id }}

  <div>{{ form.comment.label }}</div>
  <div>{{ form.comment }}</div>

  <div>{{ form.disposed }} {{ form.disposed.label }}</div>

  {% include "form-buttons-open.html" %}
  <input  {% include "form-button-class.html" %} type="submit" name="save" value="Save">
  <input  {% include "form-button-class.html" %} type="submit" name="cancel" value="Cancel">
  {% include "form-buttons-close.html" %}

</form>
{% endblock %}
