{% extends "form-base.html" %}

{% block nav-items %}
{% endblock %}

{% block header %}
{{ material.name }}
{% endblock %}

{% block main %}
{% include "article-title.html" with title="Edit Material" %}


<form action="" method="post">
  {% csrf_token %}

  <div>{{ form.name.label }}</div>
  <div >{{ form.name }}</div >

  <div>{{ form.manufacture.label }}</div>
  <div >{{ form.manufacture }}</div >

  <div>{{ form.size.label }}</div>
  <div >{{ form.size }}</div >

  <div>{{ form.weight.label }}</div>
  <div >{{ form.weight }}</div >

  <div>{{ form.price.label }}</div>
  <div >{{ form.price }}</div >

  <div>{{ form.comment.label }}</div>
  <div >{{ form.comment }}</div >

  {% include "form-buttons-open.html" %}
  <input  {% include "form-button-class.html" %} type="submit" value="Save">
  <input  {% include "form-button-class.html" %} type="submit" name="cancel" value="Cancel">
  {% include "form-buttons-close.html" %}

</form>
{% endblock %}
