{% extends "form-base.html" %}

{% block nav-items %}
{% endblock %}

{% block header %}
  {{ record.bicycle.name }}
{% endblock %}

{% block main %}
{% include "article-title.html" with title="Edit Record" %}

<form action="" method="post">
    {% csrf_token %}

    <div >
        <div >

            <div>{{ form.date.label }}</div>
            <div >{{ form.date }}</div>

            <div>{{ form.km.label }}</div>
            <div>{{ form.km }}</div>
        </div>
    </div>

    {{ form.id }}

    {% include "form-buttons-open.html" %}

      <input  {% include "form-button-class.html" %} type="submit" name="save" value="Save">

      {% if materials > 0 %}
        <input  {% include "form-button-class.html" %} type="submit" disabled name="delete" value="Delete"
               onclick="return confirm('Delete dataset?')">
      {% else %}
        <input  {% include "form-button-class.html" %}  type="submit" name="delete" value="Delete"
               onclick="return confirm('Delete dataset?')">
      {% endif %}

      <input  {% include "form-button-class.html" %} type="submit" name="cancel" value="Cancel">


    {% include "form-buttons-close.html" %}


</form>

{% if materials > 0 %}
  <b>There are (dis)mounted materials associated with this record ({{ materials }}).</b>
{% endif %}

{% endblock %}
