<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1", shrink-to-fit=no">

{% load static %}
{% load bootstrap4 %}       {# import bootstrap4/bootstrap3 #}
{% bootstrap_css %}         {# Embed Bootstrap CSS #}
{% bootstrap_javascript jquery='full' %}  {# Embed Bootstrap JS+jQuery #}
{{ form.media }}            {# Adds date-picker required JS and CSS #}

<title>Edit Record</title>
</head>
<body>


<h2>{{ record.bicycle.name }} | Edit Record </h2>


{% if form.errors %}
{% for field in form %}
{% for error in field.errors %}
<div class="alert">
    <strong>{{ error|escape }}</strong>
</div>
{% endfor %}
{% endfor %}
{% for error in form.non_field_errors %}
<div class="alert">
    <strong>{{ error|escape }}</strong>
</div>
{% endfor %}
{% endif %}


<form action="" method="post">
    {% csrf_token %}
    {% bootstrap_form form %}

    <div >
        <div >

            <div>{{ form.date.label }}</div>
            <div >{{ form.date }}</div>

            <div>{{ form.km.label }}</div>
            <div>{{ form.km }}</div>
        </div>
    </div>

    {{ form.id }}

{% buttons %}
        <input  type="submit" name="save" value="Save">
        {% if materials > 0 %}
        <input  type="submit" disabled name="delete" value="Delete"
               onclick="return confirm('Delete dataset?')">
        {% else %}
        <input  type="submit" name="delete" value="Delete"
               onclick="return confirm('Delete dataset?')">
        {% endif %}
        <input type="submit" name="cancel" value="Cancel">

    {% endbuttons %}
</form>

{% if materials > 0 %}
<b>There are (dis)mounted materials associated with this record ({{ materials }}).</b>
{% endif %}
</body>
</html>
