{% extends "form-base.html" %}

{% block script %}
<script language="JavaScript">
  function tdMaterialClick(material_id){

    // Django generates the id by defining the hidden field
    document.getElementById("id_selected_material").value = material_id;

    var elements = document.getElementById("material-table").getElementsByClassName("table-primary")
    if(elements.length > 0) {
      elements[0].className = "";
    }

    element = document.getElementById("material-id-" + material_id)
    element.className = "table-primary";
  }

  function tdRecordClick(record_id, duration, distance){
    // Django generates the id by defining the hidden field
    document.getElementById("id_selected_record").value = record_id;

    var elements = document.getElementById("record-table").getElementsByClassName("table-primary")
    if(elements.length > 0) {
      elements[0].className = "";
    }

    element = document.getElementById("record-id-" + record_id)
    element.className = "table-primary";

    document.getElementById("summary").innerHTML = "Used for " + duration + " days and " + distance + " km"

  }

  <!-- After error message, selected items again -->
   window.onload = function () {

     record_id = document.getElementById("id_selected_record").value;

     if (record_id != ""){
       var elem = document.getElementById("record-id-" + record_id);
       if (typeof elem.onclick == "function") {
           elem.onclick.apply(elem);
       }
     }

     material_id = document.getElementById("id_selected_material").value;

     if (material_id != ""){
       var elem = document.getElementById("material-id-" + material_id);
       if (typeof elem.onclick == "function") {
           elem.onclick.apply(elem);
       }
     }
   }

</script>
{% endblock %}

{% block main %}

{% with bicycle.name|add:" | "|add:part.name|add:" |  Edit Mounting" as title %}
{% include "article-title.html" with title=title %}
{% endwith %}


<ul class="nav nav-tabs nav-fill">
  <li class="nav-item">
    <a class="nav-link" href="{% url 'myequis:delete-mounting-url' bicycle.id part.id %}?tabchange=true">Delete</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active disabled" href="#">Exchange</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'myequis:dismount-material-url' bicycle.id part.id %}?tabchange=true"">Dismount</a>
  </li>
</ul>

<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Material</th>
        <th scope="col">Size</th>
        <th scope="col">Price</th>
      </tr>
    </thead>
    <tr>
      <td >
        <span class="">
        {{ mounting.material.type }} &#903;
        </span>
        <span class="text-uppercase">
        {{ mounting.material.manufacture }} &#903;
        </span>
        <span class="">
        {{ mounting.material.name }}
        </span>
        <div class="text-muted">
          {{ mounting.material.comment }}
        </div>
      </td>
      <td>{{ mounting.material.size }}</td>
      <td>{{ mounting.material.price }}</td>
    </tr>
  </table>
</div>

Mounted at {{ mounting.mount_record.date }}, {{ mounting.mount_record.km }} km

{% if mounting.comment %}
<div>Comment: {{ mounting.comment }}</div>
{% endif %}

<div id="summary">Choose the exchanging record and the new material below</div>

<form action="" method="post">
  {% csrf_token %}

  {% include "section-title.html" with title="Records" %}

  <div class="table-responsive">
    <table id="record-table" class="table table-hover">
      <thead>
        <tr>
          <th>Date</th>
          <th>Value<br>[km]</th>
        </tr>
      </thead>
      {% for record in records %}
      <tr id="record-id-{{ record.id }}" onclick="tdRecordClick('{{ record.id }}', '{{ record.duration }}', '{{ record.distance }}');">
        <td>{{ record.date }}</td>
        <td>{{ record.km }}</td>
      </tr>
      {% endfor %}
    </table>
  </div>

  {% include "section-title.html" with title="Materials" %}

  <div class="table-responsive">
    <table id="material-table" class="table table-hover">
      <thead>
        <tr>
          <th>Material</th>
          <th>Size</th>
          <th>Price</th>
        </tr>
      </thead>
      {% for material in materials %}
      <tr id="material-id-{{ material.id }}"  onclick="tdMaterialClick('{{ material.id }}');">
        <td >
          <span class="">
          {{ material.type }} &#903;
          </span>
          <span class="text-uppercase">
          {{ material.manufacture }} &#903;
          </span>
          <span class="">
          {{ material.name }}
          </span>
          <div class="text-muted">
            {{ material.comment }}
          </div>
        </td>
        <td>{{ material.size }}</td>
        <td>{{ material.price }}</td>
      </tr>
      {% endfor %}
    </table>
  </div>

  {{ form.selected_record }}
  {{ form.selected_material }}
  {{ form.bicycle_id }}
  {{ form.mounting_id }}

  <div>{{ form.dismounting_comment.label }}</div>
  <div>{{ form.dismounting_comment}}</div>

  <div>{{ form.mounting_comment.label }}</div>
  <div>{{ form.mounting_comment}}</div>

  <div>{{ form.disposed }} {{ form.disposed.label }}</div>

  {% include "form-buttons-open.html" %}
  <input  {% include "form-button-class.html" %} type="submit" name="save" value="Save">
  <input  {% include "form-button-class.html" %} type="submit" name="cancel" value="Cancel">
  {% include "form-buttons-close.html" %}

</form>
{% endblock %}
