{% load static %}
{% load bootstrap4 %}       {# import bootstrap4/bootstrap3 #}
{% bootstrap_css %}         {# Embed Bootstrap CSS #}

<link rel="stylesheet" type="text/css" href="{% static 'myequis/style.css' %}">

<div class="clearfix">
    <div class="button-line-flex-container">
      <a class="nav-button" href="{% url 'myequis:index-url' %}">Home</a>
    </div>
</div>

{% if message %}
    <div class="alert">
        <strong>{{ message|escape }}</strong>
    </div>
{% endif %}

<h2>Import Data</h2>
<p>ATTENTION: All data will be overwritten ! </p>
<p>Did you make an export to backup your data? It is strongly recommended to make an export before executing the import! </p>
<p>The import file must be a ZIP file with one file for every model - like export is creating it.</p>

{% if output %}
  {% for line in output %}
        {{ line }}<br>
  {% endfor %}
{% endif %}

<form class="record-form"  method="post" action="" enctype="multipart/form-data">
    {% csrf_token %}

    {% bootstrap_form form %}

    {% buttons %}
    <input class="form-button" type="submit" name="dryrun" value="Dry run">
    {% if import_disabled %}
      <input class="form-button-disabled" type="submit" name="import" value="Import"
             disabled=true>
    {% else %}
      <input class="form-button" type="submit" name="import" value="Import"
            onclick="return confirm('Overwrite all data ?')">
    {% endif %}
    {% endbuttons %}

  </form>
