{% load static %}
{% load bootstrap4 %}       {# import bootstrap4/bootstrap3 #}
{% bootstrap_css %}         {# Embed Bootstrap CSS #}

<link rel="stylesheet" type="text/css" href="{% static 'myequis/style.css' %}">

<div class="clearfix">
    <div class="button-line-flex-container">
      <a class="nav-button" href="{% url 'myequis:index-url' %}">Home</a>
    </div>
</div>

{% if message %}
    <div class="message-line">
        <strong>{{ message|escape }}</strong>
    </div>
{% endif %}

<h2>Import Data</h2>
<p>Importing to database. </p>
<p>ATTENTION: All data will be overwritten ! </p>

{% if output %}
  {% for line in output %}
        {{ line }}<br>
  {% endfor %}
{% endif %}

<form class="record-form"  method="post" action="" enctype="multipart/form-data">
    {% csrf_token %}

    {% bootstrap_form form %}

    {% buttons %}
    <input class="form-button" type="submit" name="dryrun" value="Dry run">
    <input class="form-button" type="submit" name="import" value="Import"
           onclick="return confirm('Overwrite all data ?')">
    {% endbuttons %}

  </form>
