{% load static %}

<link rel="stylesheet" type="text/css"  href="{% static 'myequis/style.css' %}">

{% if message %}
    <div class="message-line">
        <strong>{{ message|escape }}</strong>
    </div>
{% endif %}


<div class="clearfix">
  <div class="profile-line">
    {% if user.is_authenticated %}
      Hi {{ user.username }}!
      <a  href="{% url 'logout' %}">Log Out</a>
    {% else %}
      <a  href="{% url 'login' %}">Login</a>
    {% endif %}
  </div>
</div>

<h2>Bicycles</h2>
{% if bicycles %}
    {% for bicycle in bicycles %}
        <a class="table-button" href="{% url 'myequis:bicycle-detail-url' bicycle.id %}">{{ bicycle.name }}</a>
    {% endfor %}
{% else %}
    <p>No bicycles yet</p>
{% endif %}

<h2>Materials</h2>
<div class="clearfix">
    <div class="button-line-flex-container">
        <a class="nav-button" href="{% url 'myequis:list-materials-url' %}">Manage</a>
    </div>
</div>
{% if materials %}
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Manufacture</th>
                <th>Price</th>
            </tr>
        </thead>
        {% for material in materials %}
            <tr>
                <td><span>Name</span>{{ material.name }}</td>
                <td><span>Manufacture</span>{{ material.manufacture }}</td>
                <td><span>Price</span>{{ material.price }}</td>
            </tr>
        {% endfor %}
    </table>
{% else %}
    <p>No unused materials</p>
{% endif %}

<h2>Bulk Operations</h2>
<div class="clearfix">
    <div class="button-line-flex-container">
        <a class="nav-button" href="{% url 'admin:index' %}">Admin</a>
        <a class="nav-button" href="{% url 'myequis:export-url' %}">Export</a>
        <a class="nav-button" href="{% url 'myequis:import-url' %}">Import</a>
    </div>
</div>
