{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'myequis/style.css' %}">

<h2>Bicycles</h2>
{% if bicycles %}
    {% for bicycle in bicycles %}
        <a class="table-button" href="/myequis/bicycles/{{ bicycle.id }}/">{{ bicycle.name }}</a>
    {% endfor %}
{% else %}
    <p>No bicycles yet</p>
{% endif %}

<h2>Materials</h2>
<div class="clearfix">
    <div class="button-line-flex-container">
        <a class="nav-button" href="{% url 'myequis:list-materials-url' %}">Manage</a>
    </div>
</div>
{% if materials %}
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Manufacture</th>
                <th>Price</th>
            </tr>
        </thead>
        {% for material in materials %}
            <tr>
                <td><span>Name</span>{{ material.name }}</td>
                <td><span>Manufacture</span>{{ material.manufacture }}</td>
                <td><span>Price</span>{{ material.price }}</td>
            </tr>
        {% endfor %}
    </table>
{% else %}
    <p>No unused materials</p>
{% endif %}
