{% extends "form-base.html" %}

{% block script %}
<script language="JavaScript">
  function tdClick(material_id){

    // alert(material_id)
    document.getElementById("id_selected_material").value = material_id;

    var elements = document.getElementsByClassName("table-primary")
    if(elements.length > 0) {
      elements[0].className = "";
    }

    element = document.getElementById("material-id-" + material_id)
    element.className = "table-primary";
  }
</script>
{% endblock %}

{% block main %}

{% with bicycle.name|add:" | "|add:part.name|add:" |  Mount " as title %}
{% include "article-title.html" with title=title %}
{% endwith %}

{% if form.errors %}
{% for field in form %}
{% for error in field.errors %}
<div class="alert">
  <strong>{{ error|escape }}</strong>
</div>
{% endfor %}
{% endfor %}
{% for error in form.non_field_errors %}
<div class="alert">
  <strong>{{ error|escape }}</strong>
</div>
{% endfor %}
{% endif %}

<div>
  <form action="" method="post">
    {% csrf_token %}

    <div>{{ form.record_select.label }}</div>
    <div>{{ form.record_select }}</div>

    <h5></h5>
    <div>{{ form.material_select.label }}</div>
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Material</th>
            <th scope="col">Manufacturer</th>
            <th scope="col">Size</th>
            <th scope="col">Price</th>
          </tr>
        </thead>
        {% for material in materials %}
        <tr id="material-id-{{ material.id }}" onclick="tdClick('{{ material.id }}');">
          <td>{{ material.name }}</td>
          <td>{{ material.manufacture }}</td>
          <td>{{ material.size }}</td>
          <td>{{ material.price }}</td>
        </tr>
        {% endfor %}
      </table>
      </div>
      {{ form.selected_material }}
      {{ form.bicycle_id }}

      <div>{{ form.comment.label }}</div>
      <div>{{ form.comment}}</div>

      {% include "form-buttons-open.html" %}
      <input  {% include "form-button-class.html" %} type="submit" name="save" value="Save">
      <input  {% include "form-button-class.html" %} type="submit" name="cancel" value="Cancel">
      {% include "form-buttons-close.html" %}

    </form>
  </div>
  {% endblock %}
