{% load static %}
{% load humanize %}

<script language="JavaScript">
    function tdClick(url){
        window.open(url, "_self");
    }
</script>

<link rel="stylesheet" type="text/css" href="{% static 'myequis/style.css' %}">

<h2>{{ bicycle.name }} | Records</h2>
<div class="clearfix">
    <div class="button-line-flex-container">
        <a class="nav-button" href="{% url 'myequis:index-url' %}">Home</a>
        <a class="nav-button"  href="{% url 'myequis:bicycle-detail-url' bicycle.id %}">Back</a>
        <!--a class="nav-button"  href="/myequis/bicycles/{{ bicycle.id }}/create-record">Add</a>-->
        <a class="nav-button"  href="{% url 'myequis:create-record-url' bicycle.id %}">Add</a>
    </div>
</div>

{% if message %}
    <div class="message-line">
        <strong>{{ message|escape }}</strong>
    </div>
{% endif %}

<div >
{% if records %}
    <table>
        <thead>
            <tr>
                <th>Date</th>
                <th>Value</th>
            </tr>
        </thead>
        {% for record in records %}
            <tr>
                <td  class="td-button-cell"  onclick="tdClick('{% url 'myequis:edit-record-url' record.id %}');">
<!--                    <a href="{% url 'myequis:edit-record-url' record.id %}">-->
                        <span>Date</span>{{ record.date }}
<!--                    </a>-->
                </td>
                <td><span>KM</span>{{ record.km  }}</td>
            </tr>
        {% endfor %}
    </table>
{% else %}
    <p>No records yet</p>
{% endif %}
</div>

