{% extends "base.html" %}

{% block nav-items %}
{% endblock %}


{% block main %}

  {% include "page-title.html" with title=bicycle.name %}

  {% include "article-title.html" with title="Records" %}


  {% include "nav-open.html" %}

    {% url  'myequis:bicycle-detail-url' bicycle.id  as nav_url %}
    {% include "nav-item.html" with url=nav_url title="Back" %}

    {% url  'myequis:create-record-url' bicycle.id  as nav_url %}
    {% include "nav-item.html" with url=nav_url title="Add" %}

  {% include "nav-close.html" %}

  <div >

  {% if records %}

    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Date</th>
          <th scope="col">Value</th>
        </tr>
      </thead>
      {% for record in records %}
        <tr>

          <td  class="nav-link"   onclick="tdClick('{% url 'myequis:edit-record-url' record.id %}');">
            {{ record.date }}
          </td>

          <td>
            {{ record.km  }}
          </td>

        </tr>
      {% endfor %}
    </table>
  {% else %}
    <p>No records yet</p>
  {% endif %}
  </div>

{% endblock %}
