{% load static %}
{% load humanize %}

<link rel="stylesheet" type="text/css" href="{% static 'myequis/style.css' %}">

<h2>{{ bicycle.name }}</h2>

<div class="clearfix">
    <div class="button-line-flex-container">
        <a class="nav-button" href="/myequis">Home</a>
    </div>
</div>

<h3>Last Records</h3>

<div class="clearfix">
    <div class="button-line-flex-container">
        <a class="nav-button" href="records">Edit</a>
    </div>
</div>

<div>
{% if records %}
    <table>
        <thead>
            <tr>
                <th>Date</th>
                <th>Value</th>
            </tr>
        </thead>
        {% for record in records %}
            <tr>
                <td>{{ record.date }}</td>
                <td>{{ record.km }}</td>
            </tr>
        {% endfor %}
    </table>
{% else %}
    <p>No records yet</p>
{% endif %}
</div>

